#root {
  margin: auto;
  width: 95%;
}

.header {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summary {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.stat {
  text-align: center;
}

.list {
  table-layout: fixed;
  border: 1px solid lightgray;
  border-collapse: collapse;
}

.list td {
  text-align: center;
}

tr {
  border-bottom: 1px solid lightgray;
}

.td-name, .td-type, .td-age, .td-gender {
  width: 15%;
}

li{
  list-style: none;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.detailed-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overview {
  display: flex;
  justify-content: space-between;
}

.main, .additional-info {
  width: 45%;
}